/// Name Space
$--namespace: 'sw';

/** -------- BEM Rules -------- */
@mixin b($block) {
  // 为$block添加命名规则
  $B: $--namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element;
}

@mixin m($modifier) {
  $M: & + '--' + $modifier;
  @at-root {
    #{$M} {
      @content;
    }
  }
}

/* -------- Button Mixins -------- */
@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $border-radius
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
}
