@import './config.scss';

/* -------- BEM Rules -------- */
@mixin b($block) {
  // 为$block添加命名规则 -> 'sw-'
  $B: $namespace-mark + $single-line-separator + $block !global;
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  // 为$element添加命名规则
  $E: $element;
  $selector: $B + $underscore-separator + $E;
  @at-root {
    .#{$selector} {
      @content;
    }
  }
}

@mixin m($modifier) {
  // 为$modifier添加命名规则
  $M: & + $double-line-separator + $modifier;
  @at-root {
    #{$M} {
      @content;
    }
  }
}
