@import '../common/mixins';
@import '../common/utils/button-mixins';

// 按钮类型
$types: primary, success, warning, danger, info;
// 按钮尺寸
$sizes: small, mini;

@include b(button) {
  // Button 基础属性
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  user-select: none;
  cursor: pointer;
  // 相邻button间隔10px
  & + & {
    margin-left: 10px;
  }

  // 设置按钮默认尺寸
  @include button-default-size;

  // 设置按钮伪类
  @include button-pseudo;

  // 设置按钮disabled样式
  @include button-disabled;

  // 遍历设置不同类型按钮（颜色）属性
  @each $type in $types {
    @include m($type) {
      @include button-type-variant($type);
    }
  }

  // 遍历设置不同按钮（尺寸）属性
  @each $size in $sizes {
    @include m($size) {
      @include button-size-variant($size);
    }
  }
}
