@charset 'UTF-8';
@import '../common/vars';
@import '../common/mixins';

@include b(button) {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1;
  font-weight: $--button-font-weight-base;
  color: $--button-default-text-color;
  background-color: $--button-default-background-color;
  border: $--border-width-base $--border-style-base $--border-color-base;
  // -webkit-appearance: none; // appearance为实验性质属性
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.3s;
  user-select: none;

  // 设置 button 尺寸
  @include button-size(
    $--button-padding-vertical,
    $--button-padding-horizontal,
    $--button-font-size-base,
    $--button-border-radius-base
  );

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light;
    // background-color: mix($--color-white, $--color-primary, 90%);
  }

  &:active {
    color: mix($--color-black, $--color-primary, 10%);
    border-color: mix($--color-black, $--color-primary, 10%);
  }

  // @include m(primary) {
  //   @include button-variant(
  //     $--button-primary-font-color,
  //     $--button-primary-background-color,
  //     $--button-primary-border-color
  //   );
  // }

  $types: primary, danger;

  @each $type in $types {
    @include m($type) {
      @include button-variant(
        $--button-primary-font-color,
        $--button-primary-background-color,
        $--button-primary-border-color
      );
    }
  }
}
