@charset 'UTF-8';
@import '../vars';
/** 将基础颜色、尺寸进行组合以生成按钮组件样式 */

/* 设置按钮尺寸 */
@mixin button-default-size {
  // 按钮尺寸
  padding: $--padding-vertical-base $--padding-horizontal-base;
  font-size: $--font-size-base;
  border-radius: $--border-radius-base;
  border: $--border-width-base $--border-style-base darken($--color-white, 15%);
  background-color: $--color-white;
  color: $--color-text-regular;
}

/* 设置按钮伪类 */
@mixin button-pseudo {
  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: lighten($--color-primary, 10%); // #72bcf8
    // background-color: mix($--color-white, $--color-primary, 90%);
  }

  &:active {
    color: mix($--color-black, $--color-primary, 10%);
    border-color: mix($--color-black, $--color-primary, 10%);
  }
}

// 生成对应类型样式代码
@mixin button-type-variant($type) {
  @include type-condition($type);
}

// 条件判断
@mixin type-condition($type) {
  color: map-get($--theme-font-colors, $type);
  background-color: map-get($--theme-background-colors, $type);
  border-color: map-get($--theme-border-colors, $type);

  &:hover,
  &:focus {
    background: lighten(map-get($--theme-colors, $type), 10%);
    border-color: lighten(map-get($--theme-background-colors, $type), 10%);
    color: $--color-white;
  }
}

@mixin button-size-variant($size) {
  @include size-condition($size);
}

@mixin size-condition($size) {
  padding: map-get($--button-vertical-padding-size, $size)
    map-get($--button-horizontal-padding-size, $size);
  font-size: map-get($--button-font-size, $size);
  border-radius: map-get($--button-border-radius, $size);
}
