/// z-index
$--zindex-base: 1;
$--zindex-popper: 1000;

/// Font Size
$--font-size-base: 14px;
$--font-size-small: 13px;
$--font-size-extra-small: 12px;
$--font-size-large: 16px;
$--font-size-extra-large: 18px;

/// Border
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-radius-base: 4px;
$--border-radius-small: 2px;

/// Padding
$--padding-vertical-base: 12px;
$--padding-horizontal-base: 20px;
