/// Base Color
$--color-white: #ffffff;
$--color-black: #000000;

$--color-primary: #42a5f5;
$--color-success: #66bb6a;
$--color-warning: #ffee58;
$--color-danger: #ff7043;
$--color-info: #bdbdbd;

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

/// 主题色 Mapping
$--theme-colors: (
  'primary': $--color-primary,
  'success': $--color-success,
  'warning': $--color-warning,
  'danger': $--color-danger,
  'info': $--color-info
);

/// 主题背景颜色 Mapping
$--theme-background-colors: (
  'primary': $--color-primary,
  'success': $--color-success,
  'warning': $--color-warning,
  'danger': $--color-danger,
  'info': $--color-info
);

/// 主题背景颜色 Mapping
$--theme-border-colors: (
  'primary': $--color-primary,
  'success': $--color-success,
  'warning': $--color-warning,
  'danger': $--color-danger,
  'info': $--color-info
);